<div id="nav-main">
    <!--Nav-Top-->
    <div id="nav-top">
        <a href="#top">{{ page.title }}</a>
    </div>
    <div id="nav-page">
        <!--Prev Page-->
        <div id="nav-prev">
            {% if page.next %}
            <a href="{{ page.next.url }}" aria-label="{{ page.next.title }}">
                <i id="fa fa-angle-left"></i>
            </a>
            {% endif %}
        </div>
        <!--Page-->
        {% include page.html %}
        <!--Next Page-->
        <div id="nav-next">
            {% if page.previous or (site.posts.first != page and site.posts.last != page) %}
            <a href="{{ page.previous.url | default: site.posts.first.url }}"
                aria-label="{{ page.previous.title | default: site.posts.first.title }}">
                <i class="fa fa-angle-right"></i>
            </a>
            {% endif %}
        </div>
    </div>
</div>