<div id="nav-aside">
    <ul>
        <!--Home page-->
        <li id="home"><a href="/">{{ site.title }}</a></li>
        <!--Table of Pages-->
        <ul id="pages">
            {%- for _page in site.pages -%}
            {% comment %}Skip page with empty title{% endcomment %}
            {%- unless _page.title -%}{% continue %}{%- endunless -%}
            {% comment %}Skip home page{% endcomment %}
            {%- if _page.url == "/" -%}{% continue %}{%- endif -%}
            <li><a href="{{ _page.url }}">{{ _page.title }}</a></li>
            {%- endfor -%}
        </ul>
        <!--Table of Posts-->
        <ul id="posts">
            {% for post in site.posts %}
            {% if post == page %}
            <li><a class="active" href="#top">{{ post.title }}</a></li>
            {% include toc.html html=content id='toc' %}
            {% else %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </ul>
</div>