<div class="page">
    <!--Title-->
    <h1>{{ page.title }}</h1>
    <!--Metadata-->
    <header class="meta">
        <ul>
            <!--Author-->
            <li class="author">
                {{ page.author | default: site.author }}
            </li>
            <!--Date-->
            {% if page.date %}
            <li class="date">
                {{ page.date | date: "%Y-%m-%d" }}
            </li>
            {% endif %}
            <!--Categories-->
            <ul class="categories">
                {% for category in page.categories %}
                <li>
                    {{ category }}
                </li>
                {% endfor %}
            </ul>
        </ul>
    </header>
    <!--Markdown Content-->
    <section class="markdown-body">
        {{ content }}
    </section>
</div>