body {
    display: flex;
    margin: 0;

    .nav-aside {
        width: 300px;
        min-width: 300px;
        max-width: 300px;

        align-self: flex-start;
        position: sticky;
        top: 0;
    }

    .nav-main {
        flex: 1;
    }
}

*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: gainsboro;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: darkgray;
}