body {
    display: flex;
    margin: 0;

    .nav-aside {
        width: 300px;
        min-width: 300px;
        max-width: 300px;

        align-self: flex-start;
        position: sticky;
        top: 0;
    }

    .nav-main {
        flex-grow: 1;
    }
}